@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "BBBInvader";
  src: url("../fonts/BBBInvader.otf");
}
:root {
  --white: #f9f9ff;
  --darker-white: #e4e7fc;
  --lighter-white: #f5f6ff;
  --red: #ff4f4f;
  --darker-red: #e24444;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS";
}

body {
  background-color: #7ba9ff;
  height: 100vh;
  display: grid;
  place-items: center;
}

.pumpa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
}
.pumpa .p {
  height: 100%;
  filter: drop-shadow(3px 3px 6px rgba(18, 20, 41, 0.3490196078));
}
.pumpa .pozadi {
  position: absolute;
  bottom: 20%;
  z-index: 0;
}
.pumpa .napred {
  z-index: 2000;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.bar {
  position: absolute;
  width: 50%;
  height: 90px;
  border: solid 10px #3e3131;
  border-radius: 5px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.bar .procenat {
  font-weight: 900;
  color: #3e3131;
  font-size: 40px;
}

.pumpaj-text {
  position: absolute;
  bottom: 50px;
  z-index: 2002;
  font-size: 50px;
  color: var(--white);
  text-shadow: 10px 10px 0 #000000;
  display: none;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.137254902);
  z-index: 2001;
  opacity: 0;
  pointer-events: none;
}

.exp {
  position: absolute;
  z-index: 2002;
  bottom: 80px;
  opacity: 0;
  pointer-events: none;
  width: 500px;
}

.l {
  left: 30px;
}

.r {
  right: 30px;
}

.c {
  position: absolute;
}

.crevo {
  top: 53.5%;
  right: -120%;
  position: absolute;
  height: 45%;
}

.coin-counter {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  padding-left: 0.3em;
  padding-right: 0.1em;
  border: solid 5px;
  border-radius: 5px;
}
.coin-counter .coin-count {
  color: #000;
  font-weight: bold;
}
.coin-counter p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.shop-button {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  position: absolute;
  transition-duration: 0.4s;
  cursor: pointer;
  left: 10px;
  top: 10px;
  background-color: var(--white);
  border-radius: 5px;
  z-index: 2004;
  border: solid 5px;
}

.shop-button:hover {
  background-color: var(--darker-white);
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2005;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.137254902);
}
.container .shop-popup {
  width: 40%;
  min-height: 200px;
  height: 60%;
  background-color: var(--white);
  border-radius: 5px;
  border: solid 5px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .shop-popup .header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.container .shop-popup .header .close-button {
  background-color: var(--red);
  transition-duration: 0.4s;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: solid 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}
.container .shop-popup .header .close-button:hover {
  background-color: var(--darker-red);
}
.container .shop-popup .header .menu-buttons {
  display: flex;
  gap: 10px;
}
.container .shop-popup .header .menu-buttons button {
  height: 50px;
  border: none;
  border: solid 5px;
  border-radius: 5px;
  background-color: var(--lighter-white);
  cursor: pointer;
  transition-duration: 0.4s;
}
.container .shop-popup .header .menu-buttons button:hover {
  background-color: var(--darker-white);
}
.container .shop-popup section {
  height: 85%;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .shop-popup section .skin-container {
  width: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.container .shop-popup section .skin-container > div {
  cursor: pointer;
  padding: 10px;
  width: 200px;
  height: 200px;
  background-color: var(--lighter-white);
  border: solid 5px;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.container .shop-popup section .skin-container > div div {
  width: 100%;
  height: 80%;
  border-radius: 5px;
  background-color: var(--darker-white);
}
.container .shop-popup section .skin-container > div:hover {
  background-color: var(--darker-white);
}/*# sourceMappingURL=style.css.map */