@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'BBBInvader';
  src: url('../fonts/BBBInvader.otf');
}

:root {
  --white: #f9f9ff;
  --darker-white: #e4e7fc;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS';
}

body {
  background-color: #7ba9ff;
  height: 100vh;
  display: grid;
  place-items: center;
}

.pumpa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;

  .p {
    height: 100%;
    filter: drop-shadow(3px 3px 6px #12142959);
  }

  .pozadi {
    position: absolute;
    bottom: 20%;
    z-index: 0;
  }

  .napred {
    z-index: 2000;
    pointer-events: none;
    user-select: none;
  }
}

.bar {
  position: absolute;
  width: 50%;
  height: 90px;
  border: solid 10px #3e3131;
  border-radius: 5px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding-left: 10px;

  .procenat {
    font-weight: 900;
    color: #3e3131;
    font-size: 40px;
  }
}

.pumpaj-text {
  position: absolute;
  bottom: 50px;
  z-index: 2002;
  font-size: 50px;
  color: var(--white);
  text-shadow: 10px 10px 0 #000000;
  display: none;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #00000023;
  z-index: 2001;
  opacity: 0;
  pointer-events: none;
}

.exp {
  position: absolute;
  z-index: 2002;
  bottom: 80px;
  opacity: 0;
  pointer-events: none;
  width: 500px;
}

.l {
  left: 30px;
}

.r {
  right: 30px;
}

.c {
  position: absolute;
}

.crevo {
  top: 53.5%;
  right: -120%;
  position: absolute;
  height: 45%;
}

.coin-counter {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  padding-left: 0.2em;

  .coin-count {
    color: #000;
    font-weight: bold;
  }

  p {
    user-select: none;
  }
}

.shop-button {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  position: absolute;
  transition-duration: 0.4s;
  cursor: pointer;
  left: 10px;
  top: 10px;
  background-color: var(--white);
  border-radius: 4px;
  z-index: 2004;
}

.shop-button:hover {
  background-color: var(--darker-white);
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2005;
  display: grid;
  place-items: center;
  background-color: #00000023;
  display: none;

  .shop-popup {
    width: 50%;
    height: 50%;
    background-color: var(--white);

    .header {
      display: flex;

      .close-button {
        background-color: red;
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        cursor: pointer;
      }
    }

    section {
      .skin-container {
        div {
          cursor: pointer;
        }
      }
    }
  }
}
